<nav>
    <div class="topnav">
        <a id="home" href="/">Home</a>
        <a id="crimes" href="/crime">Crimes</a>
        <a class="active" id="members" href="/members">Report</a>
        <a id="log-out" href="/logout">Log Out</a>
</nav>
    <br>
    <br>
     <!--Start of map-->
     <div id="map"></div>
     <!--End of map-->
     <br>
     <br>
    <div class="container">
      <form >
        <div class="formcontainer">
          <h1>Report a crime form</h1>
        <div class="container">
          <!--EMAIL-->
          <label for="email"><h3>What is your email?</h3></label>
          <br>
          <input id="email" type="email" placeholder="Enter email" name="email" required>
          <br>
          <!--TITLE-->
          <label for="title"><h3>Title of the crime</h3></label>
          <br>
          <input id="title" type="text" placeholder="Title of crime" name="email" required>
          <br>
          <!--BODY-->
          <label for="body"><h3>What happened?</h3></label>
          <br>
          <input id="body" type="text" placeholder="Let us know what happened?" name="body" required>
          <br>
          <!--LATITUDE AND LONGITUDE-->
          <label for="latAndLon"><h3>Where did the crime happen at?</h3></label>
          <br>
          <input id="latAndLon" type="text" placeholder="Where did the crime happen?" name="latAndLon" required>
          
        </div>
        <button type="button" ><strong>Submit</strong></button>
      </form>
    </div>
