<li class="cards_item" data-id="{{id}}">
  <div class="card">
    {{#if ofUser}}
      <container>
        <div class="btn edit-btn"></div><div class="btn delete-btn"></div>
     </container>
    {{/if}}
    <div class="card_content">
      <h2 class="card_title">{{title}}</h2>
      <h1 class="card_text">{{body}}</h1>
    </div>
  </div>
</li>
